<%- contentFor('style') %>
<style>
body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

main {
    padding: 2rem;
}

h1 {
    font-size: 2rem;  /* Match main page size */
    margin-bottom: 1.5rem;
    margin-top: -2rem;  /* Add some controlled spacing above headers */

    color: var(--eink-black);
}

h2 {
    font-size: 2rem;  /* Match main page size */
    margin-bottom: 1.5rem;
    margin-top: 2rem;  /* Add some controlled spacing above headers */

    color: var(--eink-black);
}
.job-entry {
    margin-bottom: 2rem;
}

.job-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.job-date {
    color: var(--eink-mid-dark);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.job-title {
    font-size: 1rem;
}

.job-company a {
    color: var(--eink-darker);
    text-decoration: underline;
}

.job-details {
    list-style-type: none;
    padding-left: 1.5rem;  /* Increased from 0 */
}

.job-details li {
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;  /* Increased from 1rem */
    position: relative;
}

.job-details li:before {
    content: "•";
    position: absolute;
    left: 0;
}
</style>

<%- contentFor('body') %>
<main>
    <h1>Work Experience</h1>

    <div class="resume-section">
        <div class="job-entry">
            <div class="job-header">
                <div>
                    <span class="job-title">Machine Learning Engineer at SAIC</span> 
                </div>
                <div class="job-date">May 2024 - Current</div>
            </div>
            <ul class="job-details">
                <li>Member of the research and development team in the AI department, working on projects and proof-of-concept
                    work for internal and external clients to showcase the latest technologies and ways to effectively implement them.</li>
                <li>Developed advanced backend validation methods for a computer vision system, increasing accuracy and saving over
                    1,000 hours of manual work weekly for both internal and external clients.</li>
                <li>Assisted in developing a production-grade video and image processing pipeline using TensorFlow, implementing custom instance and semantic segmentation models to automate content annotation at scale</li>
                <li>Optimized cage code validation process by implementing web scraping and a new search algorithm, reducing
                    runtime by 85%.</li>
                <li>Researched comprehensive monitoring and diagnostics system for distributed training jobs, reducing mean time to
                    resolution for issues by 50% and improving overall system reliability.</li>
            </ul>
        </div>

        <div class="job-entry">
            <div class="job-header">
                <div>
                    <span class="job-title">Research Assistant</span> at 
                    <span class="job-company">Stanford University</a></span>
                </div>
                <div class="job-date">August 2023 - May 2024</div>
            </div>
            <ul class="job-details">
                <li>Spearheaded large-scale data analysis projects, processing and analyzing multi-modal medical datasets exceeding 1.5TB using advanced Python libraries including NumPy, Pandas, and SciPy.</li>
                <li>Utilized statistical techniques, ranging from Bayesian inference to causal inference models, deriving insights from complex studies on heart health, contributing to a high-impact research paper being submitted to Nature.</li>
                <li>Created workflows using parallel processing to reduce model training time by 50% and to enable ingestion of larger datasets.</li>
            </ul>
        </div>

        <div class="job-entry">
            <div class="job-header">
                <div>
                    <span class="job-title">Research Contributor</span> at 
                    <span class="job-company">GAEIA</a></span>
                </div>
                <div class="job-date">March 2024 - Present</div>
            </div>
            <ul class="job-details">
                <li>Part of the 2024 cohort of the Global Alliance on Ethics and Impact of Advanced Technologies founded by Stanford University, interacting in monthly sessions with industry professionals and PhD students on present-day Ethical AI Issues and Cases.</li>
                <li>Collaborating with the UNHCR to propose AI tools for humanitarian aid, developing strategic approaches to leverage machine learning for refugee support systems and crisis response.</li>
            </ul>
        </div>

        <div class="job-entry">
            <div class="job-header">
                <div>
                    <span class="job-title">Software Engineer Intern</span> at 
                    <span class="job-company">Spectrum</a></span>
                </div>
                <div class="job-date">May 2023 - August 2023</div>
            </div>
            <ul class="job-details">
                <li>Led the development, implementation, and demonstrations of a system that automated the update process for the
                    development environments of 200+ engineers development environments.</li>
                <li>Optimized system performance through advanced containerization and orchestration techniques, reducing environment update time from 10+ hours to just 5 minutes.</li>
            </ul>
        </div>

        <!-- Add more job entries as needed -->
    </div>

    <h2>Projects and Publications!</h2>
    <div class="resume-section">

    <!-- CUDA PROJECT -->    
        <div class="job-entry">
            <div class="job-header">
                <div>
                    <span class="job-title">Supercomputer CUDA Force Simulations
                </div>
            </div>
            <ul class="job-details">
                <li>In Progress.</li>
            </ul>
        </div>
    </div>

    <!-- BAMS SUBMISSION -->
    <div class="job-entry">
        <div class="job-header">
            <div>
                <span class="job-title">Do We Have a Reproducibility Crisis: How Available is Data and Code Across Journals in Artificial Intelligence and Earth Sciences?</span>
            </div>
        </div>
        <ul class="job-details">
            <li>Contributed to a comprehensive study submittted for review in the Bulletin of the American Meteorological Society (<a href="https://www.ametsoc.org/index.cfm/ams/publications/bulletin-of-the-american-meteorological-society-bams/" target="_blank">BAMS</a>) examining the accessibility of scientific data and code across AI and Earth Science journals. </li>
            <li>As a co-author, I helped analyze data availability statements across multiple journals, contributed to the research methodology, and participated in developing recommendations for improving scientific reproducibility.</li>
        </ul>
        <div class="paper-link">
            <a href="/documents/BAMS_DoWeHaveAReproducibilityCrisis.pdf" download>View Manuscript</a>
        </div>
    </div>

    <!-- PDN REPORT -->
    <div class="job-entry">
        <div class="job-header">
            <div>
                <span class="job-title">Memory Hierarchy and Loop Optimization in PDN</span>
            </div>
        </div>
        <ul class="job-details">
            <li>Explored code optimization techniques focusing on memory hierarchy and data layout. Implemented various loop transformations including Unswitching, Splitting, Fission, and Interchange to improve computational efficiency.</li>
            <li>Analyzed and implemented different forms of parallelism (SIMD, OpenMP, MPI, and Instruction Level Parallelism) on both local and supercomputer environments, demonstrating significant performance gains through combined parallelization strategies.</li>
        </ul>
        <div class="paper-link">
            <a href="/documents/PDN_Lab02_Report.pdf" download>View Report</a><br>
            <a href="https://devpost.com/software/hackanalyzer" target="_blank">View Code</a>

        </div>
    </div>

    <!-- HACKANALYZER -->
    <div class="job-entry">
        <div class="job-header">
            <div>
                <span class="job-title">HackAnalyzer</span>
            </div>
        </div>
        <ul class="job-details">
            <li>Created an AI-driven platform to help hackathon judges and participants assess project originality and impact, winning 2nd Place Overall and Most Creative Use of GitHub at HackHarvard 2023.</li>
            <li>Led prompt engineering efforts and UI/UX design, integrating OpenAI's API to analyze Devpost project descriptions and generate meaningful insights about project uniqueness and innovation potential.</li>
            <li>Developed the project architecture and frontend components using React and Next.js, implementing features for project similarity analysis and automated metrics generation.</li>
        </ul>
        <div class="links">
            <a href="https://devpost.com/software/hackanalyzer" target="_blank">View Project</a><br>
            <a href="https://devpost.com/software/hackanalyzer" target="_blank">View Code</a>

        </div>
     </div>
</main>